
<section class="py-5 text-center" style="background: radial-gradient(circle at center, #0a0a0a 0%, #000 100%); color: white;">
  <div class="container">
    <h2 class="fw-bold mb-5 fs-3 text-purple">Ils parlent de nous</h2>

    <div class="d-flex justify-content-center gap-5 flex-wrap align-items-center">
      <%= image_tag "partners/forbes.svg",       alt: "Forbes",       height: 50, class: "logo-invert" %>
      <%= image_tag "partners/wired.svg",        alt: "Wired",        height: 50, class: "logo-invert" %>
      <%= image_tag "partners/techcrunch.svg",   alt: "TechCrunch",   height: 50, class: "logo-invert" %>
      <%= image_tag "partners/lemonde.svg",      alt: "Le Monde",     height: 50, class: "logo-invert" %>
      <%= image_tag "partners/theverge.svg",     alt: "The Verge",    height: 50, class: "logo-invert" %>
    </div>

    
    <div class="text-center mt-5">
      <h6 class="mw-bold mb-5 fs-4 text-purple">En collaboration avec des partenaires de confiance</h6>
      <div class="d-flex justify-content-center gap-4 flex-wrap align-items-center opacity-100">
        <%= image_tag "partners/apple.svg",        alt: "Apple",        height: 50, class: "logo-invert" %>
        <%= image_tag "partners/amazon.svg",       alt: "Amazon",       height: 50, class: "logo-invert" %>
        <%= image_tag "partners/google.svg",       alt: "Google",       height: 50, class: "logo-invert" %>
        <%= image_tag "partners/android.svg",      alt: "Android",      height: 50, class: "logo-invert" %>
        <%= image_tag "partners/mistubishi.svg",   alt: "Mitsubishi",   height: 50, class: "logo-invert" %>
        <%= image_tag "partners/samsung.svg",      alt: "Samsung",      height: 50, class: "logo-invert" %>
        <%= image_tag "partners/myfitnesspal.svg", alt: "MyFitnessPal", height: 50, class: "logo-invert" %>
      </div>
    </div>
  </div>
</section>
